 
    <!--Imagen de la Tarjeta-->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <img
              src="imagenes/pareja.jpg"
              class="d-block w-50 mx-auto rounded"
              alt="1"
            />
            <h2>{{evento.nombreagasajado}}</h2>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <div id="cuentaRegresiva"></div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <!--Datos de la Tarjeta-->
          <div class="card" style="width: 30rem">
            <div class="card-body">
              <h5 class="card-title">¡Estas invitado a nuestra Fiesta!</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Día: {{evento.diaevento}}
              </h6>
              <p class="card-text">
                La misa se realizará en: {{evento.lugarmisa}}
              </p>
              <form action="class="container-fluid justify-content-start"">
                <button class="btn btn-outline-success me-2" type="button">
                  ¿Cómo llegar?
                </button>
              </form>
          
              <p class="card-text">Horario: 19hs</p>
              <p class="card-text">
                La fiesta se realizará en: {{evento.lugarevento}}
              </p>
              <form action="class="container-fluid justify-content-start"">
                <button class="btn btn-outline-success me-2" type="button">
                  ¿Cómo llegar?
                </button>
              </form>
              <p class="card-text">Horario: 21hs</p>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputConfirmacion">¿Confirma Asistencia?</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="inputAsistencia"
                />
                <label class="form-check-label" for="inputConfirma"> Si </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="inputConfirma"
                  checked
                />
                <label class="form-check-label" for="inputNoConfirma"> No </label>
              </div>
            </div>
              <br>
              <button type="button" class="btn btn-secondary btn-sm">
                Confirmar Selección
              </button>
            </div>
            <br>
            <br>
            <p>Si deseas hacernos un regalo o colaborarnos nuestro CBU es:{{{ evento.cbu }}}</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <script src="js/simplyCountdown.min.js"></script>
    <script src="js/countdown.js"></script>